# Find Spark

In [14]:
import findspark

# Spark Contex

In [18]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [19]:
from pyspark import SQLContext
sqlContext = SQLContext(sc)

# How to create a DataFrame ?

## Creating DataFrame from RDD

In [20]:
from pyspark.sql import Row
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)

In [21]:
type(schemaPeople)

pyspark.sql.dataframe.DataFrame

## Creating the DataFrame from CSV file

In [23]:
from pyspark.sql import SparkSession

In [26]:
spark = SparkSession \
    .builder \
    .appName("how to read csv file") \
    .getOrCreate()

In [27]:
spark.version

'2.4.4'

In [28]:
ls

20170107-061401-recipeitems.json
FremontBridge.csv
Gold_2019_2020Sample.csv
IntroAPIs.ipynb
Logtransformation.ipynb
MyFirstAssignment.ipynb
Outliers.ipynb
PredModelind Data Preprocessing and Feature Exploration .ipynb
PySparkTutorial.ipynb
README.md
Tahir_CapstoneDataCollection.ipynb
Tahir_DataWranglingPandas.ipynb
Tahir_DatetimeDataExercise.ipynb
Tahir_StringOperationsExercise.ipynb
Tahir_TabularEDA.ipynb
Tahir_TextEDA.ipynb
Tahr_Capstone_DataCollection.ipynb
Uber Data Analysis.ipynb
Untitled.ipynb
config_secret.json
cv_stop.pkl
data/
data_clean.pkl
dtm.pkl
dtm_stop.pkl
iris.csv
missing_values.ipynb
omdb_api_data.json
scrapy_mini_project/
strata_data-master/

In [29]:
df = spark.read.csv('Gold_2019_2020Sample.csv')

In [30]:
type(df)

pyspark.sql.dataframe.DataFrame

In [31]:
df.show(5)

+----------+------+-------+-------+-------+------+--------+
|       _c0|   _c1|    _c2|    _c3|    _c4|   _c5|     _c6|
+----------+------+-------+-------+-------+------+--------+
|      Date|  Open|   High|    Low|  Close|Volume|Currency|
|2019-01-01|1284.7|1284.75|1282.85|1283.35|     0|     USD|
|2019-01-02|1349.5| 1349.5| 1349.5| 1349.5|   100|     USD|
|2019-01-03|1359.8| 1359.8| 1359.8| 1359.8|    10|     USD|
|2019-01-04|1351.8| 1351.8| 1351.8| 1351.0|     1|     USD|
+----------+------+-------+-------+-------+------+--------+
only showing top 5 rows

In [32]:
df = spark.read.csv('Gold_2019_2020Sample.csv',header=True)

In [33]:
df.show(5)

+----------+------+-------+-------+-------+------+--------+
|      Date|  Open|   High|    Low|  Close|Volume|Currency|
+----------+------+-------+-------+-------+------+--------+
|2019-01-01|1284.7|1284.75|1282.85|1283.35|     0|     USD|
|2019-01-02|1349.5| 1349.5| 1349.5| 1349.5|   100|     USD|
|2019-01-03|1359.8| 1359.8| 1359.8| 1359.8|    10|     USD|
|2019-01-04|1351.8| 1351.8| 1351.8| 1351.0|     1|     USD|
|2019-01-07|1355.2| 1355.2| 1355.2| 1355.2|     7|     USD|
+----------+------+-------+-------+-------+------+--------+
only showing top 5 rows

## DataFrame Manipulations

### How to see datatype of columns?

In [34]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Currency: string (nullable = true)

### How to Show first n observation

In [36]:
df.head(5)

[Row(Date='2019-01-01', Open='1284.7', High='1284.75', Low='1282.85', Close='1283.35', Volume='0', Currency='USD'),
 Row(Date='2019-01-02', Open='1349.5', High='1349.5', Low='1349.5', Close='1349.5', Volume='100', Currency='USD'),
 Row(Date='2019-01-03', Open='1359.8', High='1359.8', Low='1359.8', Close='1359.8', Volume='10', Currency='USD'),
 Row(Date='2019-01-04', Open='1351.8', High='1351.8', Low='1351.8', Close='1351.0', Volume='1', Currency='USD'),
 Row(Date='2019-01-07', Open='1355.2', High='1355.2', Low='1355.2', Close='1355.2', Volume='7', Currency='USD')]

In [37]:
df.show(2,truncate= True)

+----------+------+-------+-------+-------+------+--------+
|      Date|  Open|   High|    Low|  Close|Volume|Currency|
+----------+------+-------+-------+-------+------+--------+
|2019-01-01|1284.7|1284.75|1282.85|1283.35|     0|     USD|
|2019-01-02|1349.5| 1349.5| 1349.5| 1349.5|   100|     USD|
+----------+------+-------+-------+-------+------+--------+
only showing top 2 rows

### How to Count the number of rows in DataFrame?

In [38]:
df.count()

517

### How many columns do we have in train and test files along with their names?

In [39]:
len(df.columns), df.columns

(7, ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Currency'])

### How to get the summary statistics (mean, standard deviance, min ,max, count) of numerical columns in a DataFrame?

In [40]:
df.describe().show()

+-------+----------+------------------+------------------+------------------+------------------+------------------+--------+
|summary|      Date|              Open|              High|               Low|             Close|            Volume|Currency|
+-------+----------+------------------+------------------+------------------+------------------+------------------+--------+
|  count|       517|               517|               517|               517|               517|               517|     517|
|   mean|      null|1603.4269825918761|1612.7332688588008| 1593.455319148936|  1603.56740812379| 49941.11411992263|    null|
| stddev|      null|207.30519003183173|213.28042606164811|200.63091449840343|207.33926579441732|105630.21385324695|    null|
|    min|2019-01-01|            1277.9|            1277.9|           1276.15|            1277.9|                 0|     USD|
|    max|2020-12-11|            2076.4|            2089.2|            2049.0|            2069.4|              9960|     USD|
+-------+----------+------------------+------------------+------------------+------------------+------------------+--------+

### How to select column(s) from the DataFrame?

In [41]:
df.select('Date','Close').show(5)

+----------+-------+
|      Date|  Close|
+----------+-------+
|2019-01-01|1283.35|
|2019-01-02| 1349.5|
|2019-01-03| 1359.8|
|2019-01-04| 1351.0|
|2019-01-07| 1355.2|
+----------+-------+
only showing top 5 rows

### How to find the number of distinct date?

In [42]:
df.select('Date').distinct().count()

517

### What if I want to drop the all rows with null value?

In [43]:
df.dropna().count()

517