# DataSet

The data set can be download at https://www.kaggle.com/braindeadcoder/lending-club-data

### Import important libraries

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
pwd

'/Users/tissa2/Desktop/New_Springbord/Springboard'

### Importing dataset

In [17]:
cols = ['dti', 'int.rate', 'installment']
data = pd.read_csv('/Users/tissa2/Downloads/loan_data.csv', nrows = 9578, usecols = cols)

In [18]:
data.head()

   int.rate  installment    dti
0    0.1189       829.10  19.48
1    0.1071       228.22  14.29
2    0.1357       366.86  11.63
3    0.1008       162.34   8.10
4    0.1426       102.92  14.97

In [19]:
data.dropna(inplace=True)

### Basic Analysis:

In [20]:
data.describe()

          int.rate  installment          dti
count  9578.000000  9578.000000  9578.000000
mean      0.122640   319.089413    12.606679
std       0.026847   207.071301     6.883970
min       0.060000    15.670000     0.000000
25%       0.103900   163.770000     7.212500
50%       0.122100   268.950000    12.665000
75%       0.140700   432.762500    17.950000
max       0.216400   940.140000    29.960000

# Standardization (Standard Scalar)

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
data_scaled = scaler.fit_transform(data)

In [23]:
print(data_scaled.mean(axis=0))
print(data_scaled.std(axis=0))

[-4.74783202e-17 -4.89620177e-17 -7.12174803e-17]
[1. 1. 1.]

In [24]:
print('Min values (dti, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max values (dti, Int rate and Installment): ', data_scaled.max(axis=0))

Min values (dti, Int rate and Installment):  [-2.33334677 -1.46536604 -1.83140511]
Max values (dti, Int rate and Installment):  [3.4925645  2.99936788 2.52096222]

# Normalization (Min-Max Scalar) :

In [25]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
data_scaled = scaler.fit_transform(data)

In [26]:
print('means (dti, Int rate and Installment): ', data_scaled.mean(axis=0))
print('std (dti, Int rate and Installment): ', data_scaled.std(axis=0))

means (dti, Int rate and Installment):  [0.4005119  0.32820904 0.42078367]
std (dti, Int rate and Installment):  [0.17164697 0.22397751 0.22976002]

In [27]:
print('Min (dti, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max (dti, Int rate and Installment): ', data_scaled.max(axis=0))

Min (dti, Int rate and Installment):  [0. 0. 0.]
Max (dti, Int rate and Installment):  [1. 1. 1.]

# Robust Scalar (Scaling to median and quantiles) -robust to outliers.

In [28]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler() 
data_scaled = scaler.fit_transform(data)

In [29]:
print('means (dti, Int rate and Installment): ', data_scaled.mean(axis=0))
print('std (dti, Int rate and Installment): ', data_scaled.std(axis=0))

means (dti, Int rate and Installment):  [ 0.01467556  0.18639707 -0.00543154]
std (dti, Int rate and Installment):  [0.72949961 0.76976307 0.64108127]

In [30]:
print('Min (dti, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max (dti, Int rate and Installment): ', data_scaled.max(axis=0))

Min (dti, Int rate and Installment):  [-1.6875     -0.94158759 -1.17951106]
Max (dti, Int rate and Installment):  [2.5625     2.49519968 1.61071013]